<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="verified/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Contact</title>
</head>
<body>
<section>

    <div class="card me-3 ms-3">
        <div class="card-body">
            <h1 class="text-center">Add Project</h1>
            <div class="container-fluid mt-1">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action="#" th:object="${project}" enctype="multipart/form-data" method="post"
                              th:action="@{/admin/save-project}" class="mt-2">


                            <!---  -------------- A. Name of the project  ------------------------>
                            <div class="mb-3">
                                <label for="projectName" class="form-label">Project Name</label>
                                <input type="text" class="form-control" placeholder="Ex: ABC"
                                       id="projectName" name="projectName" required="required"
                                       th:classappend="${#fields.hasErrors('projectName') ? 'is-invalid':''}"
                                       th:value="${project.projectName}" aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('projectName')}" th:text="${e}">
                                </div>
                            </div>

                            <!--B. Brief summary of the project in 1200 words. (copy and paste). --->
                            <div class="mb-3">
                                <label class="form-label">Brief summary of the project in 1200 words</label>
                                <textarea id="mytextarea" class="form-control"
                                          placeholder="Ex: Lorem Ipsum is simply dummy text"
                                          name="projectSummery" rows="10"
                                          th:text="${project.projectSummery}"></textarea>
                            </div>

                            <!---D. Total cost of the project in BDT --->
                            <div class="mb-3">
                                <label class="form-label">Total cost of the project in BDT</label>
                                <input type="text" class="form-control" placeholder="Ex: 5000"
                                       name="totalCostOfProject" th:value="${project.totalCostOfProject}"
                                       aria-describedby="basic-addon1">
                            </div>

                            <!--E. Number of investors invited for the project/ total individuals. --->
                            <div class="mb-3">
                                <label class="form-label">Number of investors invited for the project/ total
                                    individuals</label>
                                <input type="text" class="form-control"
                                       placeholder="Ex: 5"
                                       name="numberOfInvestor" id="numberOfInvestor"
                                       th:value="${project.numberOfInvestor}"
                                       aria-describedby="basic-addon1">
                            </div>

                            <!-- Amount of investment for each investor in BDT. -->
                            <div class="mb-3">
                                <label class="form-label">Amount of investment for each investor in BDT</label>
                                <input type="number" class="form-control"
                                       placeholder="Ex: 1000"
                                       name="amountPerInvestor" id="amountPerInvestor" required="required"
                                       th:classappend="${#fields.hasErrors('amountPerInvestor') ? 'is-invalid':''}"
                                       th:value="${project.amountPerInvestor}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('amountPerInvestor')}"
                                     th:text="${e}">
                                </div>
                            </div>


                            <!--- G. The paid amount of investment which is equal to certain percentage of the total project investment. -->
                            <div class="mb-3">
                                <label class="form-label">The paid amount of investment which is equal to certain
                                    percentage of the total project investment.</label>
                                <input type="text" id="paidAmountOfInvestment" class="form-control"
                                       name="paidAmountOfInvestment" required="required"
                                       placeholder="Ex: 20%"
                                       th:classappend="${#fields.hasErrors('paidAmountOfInvestment') ? 'is-invalid': ''}"
                                       th:value="${project.paidAmountOfInvestment}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('paidAmountOfInvestment')}"
                                     th:text="${e}">
                                </div>
                            </div>

                            <!--- H. Pre-sold number of investment in BDT.  -->
                            <div class="mb-3">
                                <label class="form-label">Pre-sold number of investment in BDT</label>
                                <input type="text" id="preSoldNumberOfInvestmentBDT" class="form-control"
                                       placeholder="Ex: 3"
                                       name="preSoldNumberOfInvestmentBDT" required="required"
                                       th:classappend="${#fields.hasErrors('preSoldNumberOfInvestmentBDT') ? 'is-invalid': ''}"
                                       th:value="${project.preSoldNumberOfInvestmentBDT}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('preSoldNumberOfInvestmentBDT')}"
                                     th:text="${e}">
                                </div>
                            </div>

                            <!--- I. Pre-sold number of investment in %.   -->
                            <div class="mb-3">
                                <label class="form-label">Pre-sold number of investment in %.</label>
                                <input type="text" id="preSoldNumberOfInvestmentPercentage" class="form-control"
                                       placeholder="Ex: 60%"
                                       name="preSoldNumberOfInvestmentPercentage" required="required"
                                       th:classappend="${#fields.hasErrors('preSoldNumberOfInvestmentPercentage') ? 'is-invalid': ''}"
                                       th:value="${project.preSoldNumberOfInvestmentPercentage}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('preSoldNumberOfInvestmentPercentage')}"
                                     th:text="${e}">
                                </div>
                            </div>

                            <!--- J. Booking auto termination time in hours.   -->
                            <div class="mb-3">
                                <label class="form-label">Booking auto termination time in hours.</label>
                                <input type="text" id="bookingTerminationTime" class="form-control"
                                       placeholder=" Ex: 24"
                                       name="bookingTerminationTime" required="required"
                                       th:classappend="${#fields.hasErrors('bookingTerminationTime') ? 'is-invalid': ''}"
                                       th:value="${project.bookingTerminationTime}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('bookingTerminationTime')}"
                                     th:text="${e}">
                                </div>
                            </div>

                            <!--- K. The units of investment one can do for the project.    -->
                            <div class="mb-3">
                                <label class="form-label">The units of investment one can do for the project.</label>
                                <input type="text" id="unitOfInvestment" class="form-control"
                                       placeholder="Ex: 4"
                                       name="unitOfInvestment" required="required"
                                       th:classappend="${#fields.hasErrors('unitOfInvestment') ? 'is-invalid': ''}"
                                       th:value="${project.unitOfInvestment}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('unitOfInvestment')}"
                                     th:text="${e}">
                                </div>
                            </div>

                            <!--- L. The medium of communication the investor prefers to use -->
                            <div class="mb-3">
                                <label class="form-label">The medium of communication the investor prefers to
                                    use.</label>
                                <input type="text" id="mediumOfCommunication" class="form-control"
                                       placeholder="Phone"
                                       name="mediumOfCommunication" required="required"
                                       th:classappend="${#fields.hasErrors('mediumOfCommunication') ? 'is-invalid': ''}"
                                       th:value="${project.mediumOfCommunication}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('mediumOfCommunication')}"
                                     th:text="${e}">
                                </div>
                            </div>

                            <!---M. How frequently does the investor want to know about the updates of the project?  -->
                            <div class="mb-3">
                                <label class="form-label">How frequently does the investor want to know about the
                                    updates of the project?</label>
                                <input type="text" id="frequentlyUpdateOfProject" class="form-control"
                                       placeholder="Ex: 2 months"
                                       name="frequentlyUpdateOfProject" required="required"
                                       th:classappend="${#fields.hasErrors('frequentlyUpdateOfProject') ? 'is-invalid': ''}"
                                       th:value="${project.frequentlyUpdateOfProject}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('frequentlyUpdateOfProject')}"
                                     th:text="${e}">
                                </div>
                            </div>

                            <!--- N. Is the investor interested to join any activities of the project? How many every year?  -->
                            <div class="mb-3">
                                <label class="form-label">Is the investor interested to join any activities of the
                                    project? How many every year?</label>
                                <input type="text" id="investorInterestedJoinActivities" class="form-control"
                                       placeholder="Ex: 1"
                                       name="investorInterestedJoinActivities" required="required"
                                       th:classappend="${#fields.hasErrors('investorInterestedJoinActivities') ? 'is-invalid': ''}"
                                       th:value="${project.investorInterestedJoinActivities}"
                                       aria-describedby="basic-addon1">
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('investorInterestedJoinActivities')}"
                                     th:text="${e}">
                                </div>
                            </div>

                            <!--- O. How frequently does the investor want to withdraw the profit? Once a year/ once in every 2 years. -->
                            <div class="mb-3">
                                <label class="form-label">How frequently does the investor want to withdraw the profit?
                                    Once a year/ once in every 2 years.</label>
                                <select class="form-select"
                                        name="frequentlyWithdrawProfit" required="required"
                                        th:classappend="${#fields.hasErrors('frequentlyWithdrawProfit') ? 'is-invalid': ''}"
                                        th:value="${project.frequentlyWithdrawProfit}"
                                        aria-label="Default select example">
                                    <option selected>Select year</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <div class="invalid-feedback"
                                     th:each="e:${#fields.errors('frequentlyWithdrawProfit')}"
                                     th:text="${e}">
                                </div>
                            </div>


                            <!--------------------------- projectFile ------------------------->
                            <div class="mt-3 mb-3">
                                <label>Upload a doc /xls /PDF /JPG and other files to be attached</label>
                                <input type="file" class="form-control" id="inputGroupFile04" name="processFile"
                                       required="required" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            </div>
                            <!--Save Button-->
                            <div class="container text-center">
                                <button class="btn btn-outline-primary">Save Project</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
</body>
</html>