<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="my-card">
                    <div class="alert text-center"
                         th:if="${session.message}"
                         th:classappend="${session.message.type}"
                         role="alert">
                        <p th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"/>
                    </div>

                    <form id="regForm" action="" th:action="@{/do_register}" enctype="multipart/form-data" method="post" th:object="${user}">

                        <!-- One "tab" for each step in the form: -->
                        <!--Tab Number 1 Personal Information-->
                        <div class="tab">
                            <h1 class="text-center">Personal Information</h1>
                            <!--Reference Number-->
                            <div class="mb-3">
                                <label for="reference_field" class="form-label">Reference Number<span style="color: red">*</span></label>
                                <input type="text" class="form-control" name="refId"
                                       th:value="${user.refId}"
                                       th:classappend="${#fields.hasErrors('refId') ? 'is-invalid':''}"
                                       required = "required" id="reference_field" placeholder="Enter your ref Id">
                                <div class="invalid-feedback" th:each="e:${#fields.errors('refId')}" th:text="${e}">
                                </div>
                            </div>

                            <!--Name Field -->
                            <div class="mb-3">
                                <label for="name_field" class="form-label">Name<span style="color: red">*</span></label>
                                <input type="text" class="form-control" required = "required" id="name_field"
                                       th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
                                       name="name"
                                       placeholder="Enter your name" th:value="${user.name}">
                                <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}"></div>
                            </div>
                            <!--Email -->
                            <div class="mb-3">
                                <label for="email_field" class="form-label">Email<span style="color: red">*</span></label>
                                <input type="email" class="form-control" required = "required"
                                       id="email_field" name="email" onfocus="this.value=''"
                                       th:classappend="${#fields.hasErrors('email')?'is-invalid':''}"
                                       th:value="${user.email}"
                                       placeholder="Enter your email">
                                <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}"></div>
                            </div>
                            <!--Date of Birth-->
                            <div class="mb-3">
                                <label class="form-label">Date of Birth<span style="color: red">*</span></label>
                                <input type="date" class="form-control" id="date_of_birth_field"
                                       th:classappend="${#fields.hasErrors('dateOfBirth')?'is-invalid':''}"
                                       th:value="${user.dateOfBirth}"
                                       name="dateOfBirth">
                                <div class="invalid-feedback" th:each="e:${#fields.errors('dateOfBirth')}" th:text="${e}"></div>
                            </div>
                            <!-- Password field-->
                            <div class="mb-3">
                                <label for="password_field" class="form-label">Password</label>
                                <input type="password" name="password"
                                       class="form-control" id="password_field" required="required" placeholder="Enter your password" onfocus="this.value=''"
                                       th:value="${user.password}" th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
                                       aria-describedby="emailHelp">
                                <div class="invalid-feedback mb-3" th:each="e:${#fields.errors('password')}" th:text="${e}"></div>
                            </div>
                            <!-- Phone One field-->
                            <div class="mb-3">
                                <label for="phoneOneField" class="form-label">Phone 1<span style="color: red">*</span></label>
                                <input type="email" class="form-control" required = "required" id="phoneOneField"
                                       name="phoneOne"
                                       th:value="${user.phoneOne}" th:classappend="${#fields.hasErrors('phoneOne')?'is-invalid':''}"
                                       placeholder="Enter your phone number">
                                <div class="invalid-feedback mb-3" th:each="e:${#fields.errors('phoneOne')}" th:text="${e}"></div>
                            </div>
                            <!--Phone 2 and Phone 3-->
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="phone_two_field" class="form-label">Phone 2</label>
                                    <input type="text" class="form-control" name="phoneTwo" id="phone_two_field" placeholder="Enter your phone number">
                                </div>
                                <div class="col">
                                    <label for="phone_three_field" class="form-label">Phone 3</label>
                                    <input type="text" class="form-control" name="phoneThree" id="phone_three_field" placeholder="Enter your phone number">
                                </div>
                            </div>
                            <!--End Phone 2 and Phone 3 -->
                            <!--Photo -->
                            <div class="mb-3">
                                <label for="photoFile" class="form-label">Choose Your photo<span style="color: red">*</span></label>
                                <input class="form-control mb-1" type="file" accept="image/*" name="processImage" onchange="loadFile(event)" id="photoFile">
                                <img id="output" style="width: 75px; height: 100px"/>
                            </div>
                            <!-- Nid -->
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="nidFrontSide" class="form-label">NID Front<span style="color: red">*</span></label>
                                    <input class="form-control" type="file" name="processImage" id="nidFrontSide">
                                </div>

                                <div class="col">
                                    <label for="nidBackSide" class="form-label">NID Back<span style="color: red">*</span></label>
                                    <input class="form-control" type="file" name="processImage" id="nidBackSide">
                                </div>

                            </div>

                        </div>
                        <!--End Tab(Personal Information) 1 -->

                        <!-- Start Tab 2 Addresses-->
                        <div class="tab">
                            <h1 class="text-center">Address</h1>
                            <!------------- Present Address ---------->
                            <h3>Present Address</h3>
                            <div class="present-address" id="presentAddressDiv">
                                <!--House Number & Name-->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="houseNumber" class="form-label">House Number & House Name<span style="color: red">*</span> </label>
                                        <input type="text" class="form-control" required = "required" id="houseNumber"
                                               name="house"
                                               th:field ="*{address[0].house}"
                                               placeholder="House Number">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Lane Number & Name<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required"
                                               th:field ="*{address[0].lane}"
                                               id="laneNumber" placeholder="Lane Number">
                                    </div>
                                </div>
                                <!--Lane Number & Road Number & Road Name-->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Road Number & Name<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required"
                                               th:field ="*{address[0].road}"
                                               id="roadNumber" placeholder="Road Number">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Village<span style="color: red">*</span></label>
                                        <input type="text" class="form-control"   th:field ="*{address[0].village}"
                                               required = "required" placeholder="Village">
                                    </div>

                                </div>
                                <!--Post Office and Post Code-->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Post Office<span style="color: red">*</span></label>
                                        <input type="text" class="form-control"   th:field ="*{address[0].postOffice}"required = "required" placeholder="Post Office">
                                    </div>
                                    <div class="col">
                                        <label  class="form-label">Post Code<span style="color: red">*</span></label>
                                        <input type="text" class="form-control"   th:field ="*{address[0].postCode}"required = "required" placeholder="Post Code">
                                    </div>
                                </div>

                                <!--Upozella and Police Station-->
                                <div class="row mb-3">

                                    <div class="col">
                                        <label  class="form-label">Police Station<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required"   th:field ="*{address[0].policeStation}"placeholder="Police Station">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Upozella<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" th:field ="*{address[0].upozella}"required = "required" placeholder="Upozella">
                                    </div>
                                </div>

                                <!-------------- District ----------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label  class="form-label">District<span style="color: red">*</span></label>
                                        <input type="text" class="form-control"   th:field ="*{address[0].district}"required = "required" placeholder="District">
                                    </div>
                                </div>

                                <!--Nearest Landmark & Google Map-->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Nearest Landmark<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" th:field ="*{address[0].nearestLandMark}" required = "required" placeholder="Nearest Landmark">
                                    </div>
                                    <div class="col">
                                        <label  class="form-label">Google Map</label>
                                        <input type="text" class="form-control" th:field ="*{address[0].googleMap}" required = "required" placeholder="Google Map">
                                    </div>
                                </div>
                            </div>

                            <!------ Permanent Address ---------->
                            <h3 class="mb-3">Permanent Address</h3>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="sameAsPresentAddress" onclick="clickCheckBox()">
                                <label class="form-check-label" style="color: blue" for="sameAsPresentAddress">Same as present address</label>
                            </div>
                            <div class="permanent-address" id="permanentAddressDiv">
                                <!--Permanent House & Lane-->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="houseNumber" class="form-label">House Number & House Name<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" th:field="*{address[1].house}" required = "required" placeholder="House Number">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Lane Number & Name<span style="color: red">*</span></label>
                                        <input type="text" class="form-control"  th:field="*{address[1].lane}" required = "required" placeholder="Lane Number">
                                    </div>
                                </div>
                                <!-------Permanent Road  & Village ------------>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Road Number & Name<span style="color: red">*</span></label>
                                        <input type="text" class="form-control"  th:field="*{address[1].road}" required = "required" placeholder="Road Number">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Village<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required"  th:field="*{address[1].village}" placeholder="Village">
                                    </div>

                                </div>
                                <!-------------Permanent Post Office and Post Code----------------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Post Office<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required"  th:field="*{address[1].postOffice}"  placeholder="Post Office">
                                    </div>
                                    <div class="col">
                                        <label  class="form-label">Post Code<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" th:field="*{address[1].postCode}"placeholder="Post Code">
                                    </div>
                                </div>

                                <!--------------Permanent Police Station & Village ----------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label  class="form-label">Police Station<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" th:field="*{address[1].policeStation}"  placeholder="Police Station">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Upozella<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required"  th:field="*{address[1].upozella}" placeholder="Upozella">
                                    </div>
                                </div>


                                <!-----------------Permanent District----------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label  class="form-label">District<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" th:field="*{address[1].district}" placeholder="District">
                                    </div>
                                </div>

                                <!-----------------Permanent Nearest Landmark & Google Map---------------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Nearest Landmark<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required"th:field="*{address[1].nearestLandMark}" placeholder="Nearest Landmark">
                                    </div>
                                    <div class="col">
                                        <label  class="form-label">Google Map</label>
                                        <input type="text" class="form-control" required = "required" th:field="*{address[1].googleMap}"placeholder="Google Map">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---------------------End Tab 2  Addresses------------------------>

                        <!----------------------Start Tab 3 -------------------------------->
                        <!-----------------------Nominee Details  --------------------------->
                        <div class="tab">
                            <h1 class="text-center">Nominee Details</h1>
                            <!-----------------Terms & Condition----------------->
                            <div class="mb-3">
                                <p>[You can add multiple nominee after successful registration.] </p>
                            </div>
                            <div class="nominee-details">

                                <!------------Nominee Name & Relationship--------------------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Nominee Name<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" th:field="*{nominees[0].nomineeName}" required = "required" placeholder="Nominee name">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Nominee Relationship<span style="color: red">*</span></label>
                                        <input type="text" class="form-control"th:field="*{nominees[0].nomineeRelationShip}" required = "required" placeholder="Nominee Relationship">
                                    </div>
                                </div>

                                <!---------------------Nominee Phone & Percentage--------------------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Nominee Phone<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="Nominee Phone">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Nominee Percentage<span style="color: red">*</span></label>
                                        <input type="number" class="form-control" required = "required" placeholder="Nominee Percentage">
                                    </div>
                                </div>

                                <!-----------Nominee House Number & Name------------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label for="houseNumber" class="form-label">House Name,Number<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="House Number">
                                    </div>

                                    <div class="col">
                                        <label class="form-label">Lane Name,Number<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="Lane Number">
                                    </div>
                                </div>
                                <!--------------Nominee Lane Number & Name-------------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Road Name,Number<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="Road Number">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Village<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="Village">
                                    </div>

                                </div>

                                <!------------ Post office and Code------------>
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Post Office<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="Post Office">
                                    </div>
                                    <div class="col">
                                        <label  class="form-label">Post Code<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="Post Code">
                                    </div>

                                </div>

                                <!-----------------Nominee Upozella and District------------------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label  class="form-label">Police Station<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="Police Station">
                                    </div>
                                    <div class="col">
                                        <label class="form-label">Upozella<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="Upozella">
                                    </div>
                                    <div class="col">
                                        <label  class="form-label">District<span style="color: red">*</span></label>
                                        <input type="text" class="form-control" required = "required" placeholder="District">
                                    </div>
                                </div>

                                <!-------------Nominee The Nearest Landmark & Google Map----------->
                                <div class="row mb-3">
                                    <div class="col">
                                        <label class="form-label">Nearest Landmark</label>
                                        <input type="text" class="form-control" required = "required" placeholder="Nearest Landmark">
                                    </div>
                                    <div class="col">
                                        <label  class="form-label">Google Map</label>
                                        <input type="text" class="form-control" required = "required" placeholder="Google Map">
                                    </div>
                                </div>
                            </div>

                            <!-----------------Terms & Condition----------------->
                            <div class="mb-3 form-check">
                                <input type="checkbox" name="agreement" class="form-check-input" required="required" id="agreement">
                                <label class="form-check-label" for="agreement" style="color: blue">Terms & Condition</label>
                            </div>
                        </div>
                        <!--------------End Tab(Nominee Details) 3 ------------->



                        <!--<div class="tab">Login Info:
                            <p><input placeholder="Username..." oninput="this.className = ''"></p>
                            <p><input placeholder="Password..." oninput="this.className = ''"></p>
                        </div>-->

                        <div style="overflow:auto;">
                            <div style="float:right;">
                                <button type="button" id="prevBtn" class="btn btn-info text-white action-button-previous" onclick="nextPrev(-1)">Previous</button>
                                <button type="button" class="btn bg-custom-primary text-white action-button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                            </div>
                        </div>

                        <!---------------- Circles which indicates the steps of the form: -------------->
                        <div style="text-align:center;margin-top:40px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <!--<span class="step"></span>-->
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>